:root {
    --vh: 1vh;
}

html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
}

/* Hide arrows in Webkit browsers (Chrome, Safari, Edge) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Hide arrows in Firefox */
input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    margin: 0;
    background-color: #595959;
}

a {
    text-decoration: none;
    color: initial;
}

/* Hover effects ============================= */
/* =========================================== */

/* Main ====================================================================================================== */
/* =========================================================================================================== */

.background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('bgs/1920.png') no-repeat center top;
    background-size: cover;
    opacity: 0;
    filter: brightness(35%);
    transition: opacity 0.1s ease-in-out;
}

.main {
    display: flex;
    width: 100%;
    height: auto;
    max-width: 75.6%;
    max-height: 95%;
    aspect-ratio: 1421 / 921;
    justify-content: flex-start;
    align-items: stretch;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: hidden;
}

/* Media ===================================================================================================== */
/* =========================================================================================================== */

.media {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #000000;
}

.media img,
.media video {
    display: none;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Content Isand ============================================================================================= */
/* =========================================================================================================== */

.content-island {
    display: flex;
    flex-direction: column;
    width: 35.19%;
    min-width: 35.18%;
    height: 100%;
    padding: 10px 12px;
    padding-bottom: 0;
    border-left: 2px solid #efefef;
    box-sizing: border-box;
    background-color: #ffffff;
}

/* Profile =================================================================================================== */
/* =========================================================================================================== */

.profile {
    display: flex;
    border-bottom: 2px solid #efefef;
}

.pfp {
    height: 134px;
    border-radius: 50%;
}

.pfp img {
    width: 132px;
    height: 132px;
    border-radius: 50%;
    border: 1px solid #d4d8d7;
}

.info {
    padding-left: 12px;
    padding-bottom: 16px;
    line-height: 1.5;
}

.username {
    font-weight: bold;
}

.info .username {
    font-size: 20px;
}


.stats {
    display: inline-block;
    margin-right: 24px;
    font-size: 14px;
}

.bio {
    font-size: 12px;
}

/* Body ====================================================================================================== */
/* =========================================================================================================== */

.body {
    overflow-x: hidden;
    overflow-y: scroll;
}

.post {
    display: flex;
    padding-top: 10px;
}

.post > a {
    height: 76px;
    border-radius: 50%;
}

.post img {
    width: 74px;
    height: 74px;
    border: 1px solid #d4d8d7;
    border-radius: 50%;
}

.post .wrapper,
.commenters .wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 12px;
}

.post .username {
    font-size: 18.5px;
}

.post a:has(.username):hover {
    width: fit-content;
    color: #8d8d8d;
}

.posts-comments {
    height: 15px;
    background-color: #efefef;
    border-radius: 4px;
    margin-bottom: 6px;
    margin-top: 2px;
    cursor: pointer;
}

/* Case for when there's no post content on the inputted */
/* Display set to block via JS ========================= */

.noContent {
    display: none;
}

.noContent div {
    height: 16px;
    background-color: #efefef;
    border-radius: 4px;
    margin-bottom: 6px;
    cursor: pointer;
}

.noContent div:nth-child(1) {
    width: 245px;
    margin-top: 6px;
}

.noContent div:nth-child(2) {
    width: 48px;
}

.noContent div:nth-child(3) {
    width: 96px;
}

/* ===================================================== */

.content {
    font-size: 14px;
}

.content span {
    display: none;
}

.commenters {
    display: flex;
    margin-left: 36px;
}

.comment-pfp {
    width: 48px;
    min-width: 48px;
    height: 48px;
    background-color: #efefef;
    border-radius: 50%;
    cursor: pointer;
}

/* Footer ==================================================================================================== */
/* =========================================================================================================== */

.footer {
    width: 100%;
    padding-top: 10px;
    border-top: 2px solid #efefef;
}

.like,
.comment {
    display: flex;
    width: fit-content;
    gap: 5px;
    font-size: 14px;
    cursor: pointer;
}

.timestamp {
    color: #737373;
    font-size: 12px;
}

.timestamp span {
    margin-top: 2px;
    margin-bottom: 10px;
}

.like span,
.comment span,
.timestamp span {
    display: none;
}

/* Case for when there's no like/comment data */
/* Display set to block via JS ============== */

.like .wrapper div,
.comment .wrapper div {
    display: none;
    width: 34px;
    height: 15px;
    background-color: #efefef;
    border-radius: 4px;
}


.like .wrapper,
.comment .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.comment .wrapper div {
    width: 16px;
}

/* ========================================== */

/* Navigation Buttons ======================================================================================== */
/* =========================================================================================================== */

.navigation {
    z-index: 2;
}

.navigation > div > div {
    position: fixed;
}

div:has(> #beginning) {
    bottom: 0;
    left: 0;
    margin-bottom: 16px;
    margin-left: 12px;
}

div:has(> #end) {
    bottom: 0;
    right: 0;
    margin-bottom: 16px;
    margin-right: 12px;
}

div:has(> #random) {
    top: 0;
    right: 0;
    margin-top: 16px;
    margin-right: 12px;
}

div:has(> div > .index) {
    display: flex;
    flex-direction: column;
    gap: 4px;
    top: 0;
    left: 0;
    margin-left: 12px;
    margin-top: 16px;
}

div:has(> .index) {
    display: flex;
    gap: 9px;
    cursor: unset;
    white-space: nowrap;
}

.current-index {
    border-radius: 5px;
    text-align: center;
    font-size: 10px;
    font-style: italic;
    font-weight: bold;
    background-color: #ffffff;

}

.index.buttons {
    width: 43px;
    height: 29px;
    padding: 0 8px;
    border: 1.5px solid #000000;
    box-shadow: 0 0 0 1px #ffffff;
    cursor: unset;
}

.index.buttons:hover {
    opacity: unset;
}

/* Used to hide the mobile elements on desktop */

.main-nav .buttons div {
    display: none;
}

/* =========================================== */

.main-nav {
    top: 50%;
    transform: translateY(-50%);
}

.main-nav:has(> #previous) {
    left: 0;
    margin-left: 12px;
}

.main-nav:has(> #next) {
    right: 0;
    margin-right: 12px;
}

.main-nav .buttons {
    width: 32px;
    padding: 0;
    border-radius: 50%;
    font-family: sans-serif;
    font-size: 24px;
    font-weight: unset;
}

.buttons {
    height: 32px;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    background-color: #ffffff;
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, opacity 0.3s;
}

.buttons:hover {
    opacity: 0.7;
}

.navigation button:active {
    opacity: 0.5;
    transition: opacity 0.1s;
}

.sidebar {
    display: none;
    width: 24px;
    z-index: 2;
}

.sidebar button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    background-color: #111111;
    border: none;
    cursor: pointer;
    color: #eeeeee;
    font-size: 24px;
    transition: background-color 0.3s;
}

.sidebar #previous {
    border-top-left-radius: 5px;
}


.sidebar #next {
    border-bottom-left-radius: 5px;
}


.sidebar button:nth-child(1) {
    border-bottom: 2px solid #dbdbdb;
}

.sidebar button:hover {
    background-color: #eeeeee;
    color: #111111;
}
